body{
    background-image: url("./images_parcial/Zinc.jpg");
}
#header{
    width: 940px;
    height: 40px;
    margin: auto;
    padding: 0 30px;
}

#menu{
    width: 940px;
    height: 40px;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li{
    margin: 0;
    padding: 0;
    display: inline;
}

#menu ul li a{
    display: block;
    margin-right: 36px;
    height: 30px;
    float: left;
    padding: 10px 0 0 0 ; /*-> es lo mismo: padding-top:10px ; */
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}
.header-icons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    size: 20px;
    height: 100px;
    padding-top: 14px;
}
img {
    max-width: 100%;
    max-height: 38%;
    padding-right: 10px;
   }
#utt{
   display: flex;
justify-content: space-around;
width: 95%;
height: 65px;
background-color: #544d4d;
    }
#imagestes{
    border: 38px;
  margin: 150px;
}
#ide_pata{
    width: 80%;
}
#ide_pete{
    width: 20px;
    background: #FFE000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#secction_photo{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}
.item-jugador{
    background-color: #e5e6e8;
    width: 16%;
    padding: 32px 47px 19px 42px;
    margin-bottom: 47px;
}
.item-jugador  img{
    width: 161px;
    font-size: 40px;
}

.text-item-juga{
    text-align: center;
}

.text-item-juga > h1{
    font-size: 1.5rem;
    text-transform: uppercase;
}
#bluee{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    background: #1F1C2C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.item-cancha{
    
    width: 23%;
    padding: 20px 38px 19px 42px;
    margin-bottom: 47px
}
.item-cancha  img{
    width: 161px;
}

.text-item-lugar{
    text-align: left;
}
.text-item-lugar > h1{
    font-size: 0.6rem;
    text-transform: uppercase;
}
.text-item-lugar > p{
    font-size: 0.6rem;
    text-transform: uppercase;
}
#bluee1{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    
}
.item-cancha1{
    
    width: 23%;
    padding: 20px 38px 19px 42px;
    margin-bottom: 47px
}
.item-cancha1  img{
    width: 161px;
}

.text-item-lugar1{
    text-align: left;
}
.text-item-lugar1 > h1{
    font-size: 0.6rem;
    text-transform: uppercase;
}
.text-item-lugar1 > p{
    font-size: 0.6rem;
    text-transform: uppercase;
}
#bluee12{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    background: #eacda3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.item-cancha12{
    
    width: 23%;
    padding: 20px 38px 19px 42px;
    margin-bottom: 47px
  
}
.item-cancha12  img{
    width: 161px;
}

.text-item-lugar12{
    text-align: left;
}
.text-item-lugar12 > h1{
    font-size: 0.6rem;
    text-transform: uppercase;
}
.text-item-lugar12 > p{
    font-size: 0.6rem;
    text-transform: uppercase;
}
#bluee123{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    background: #3C3B3F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.item-cancha123{
    
    width: 23%;
    padding: 20px 38px 19px 42px;
    margin-bottom: 47px
  
}
.item-cancha123  img{
    width: 161px;
}

.text-item-lugar123{
    text-align: left;
}
.text-item-lugar123 > h1{
    font-size: 0.6rem;
    text-transform: uppercase;
}
.text-item-lugar123 > p{
    font-size: 0.6rem;
    text-transform: uppercase;
}